* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.rowProducts{
	width: 70%;
	height: 30%;
	margin: 10px auto;
	padding-left: 4%;
}

.products {
width: 30%;
height: 70px;/*
background-color: yellow;*/
float: left;
margin-right: 20px;
margin-bottom: 2px;
margin-top: 11px;
font-weight: bold;
padding:28px 10px;;
}
.carousl{
	background-color:  #ECBF0F;
}

.icons{
	height: 30px;
}
.icons2{
	height: 25px;
}