<h1>Editing template</h1>

<%= render 'form' %>

<span class="btn btn-primary"><%= link_to 'Show', @template %></span>
<span class="btn btn-primary"><%= link_to 'Back', templates_path %></span>
<br>
<br>
<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>
