<ng-include src="'templates/header.html'"></ng-include>

<!-- Carousel -->
<div class="container">
<p><b style="font-weight:normal;" id="docs-internal-guid-8c394529-7af4-eb9a-d3b3-a88d3134d30b"><p dir="ltr" style="line-height:1.7999999999999998;margin-top:0pt;margin-bottom:7.5pt;text-align: justify;"><span style="font-size:13px;font-family:Arial;color:#444444;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;"></span></p></b>
    <b
    style="font-weight:normal;" id="docs-internal-guid-1cc6079b-7af7-4709-e19c-b9a0e3c0d131">
        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">Are these drafts prepared by lawyers? How much care went into making these drafts?</span>
        </p>
        <br>
        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">We have a team of lawyers, working for our clients. Our team has a total experience of over 100 years, and prepared these drafts with immense care. </span>
        </p>
        <br>
        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">We hope you like these as much as we do!</span>
        </p>
        <br>
        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">Can I rely on this document?</span>
        </p>
        <br>
        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">We always recommend that you take expert help before signing any document. &nbsp;</span>
            <span
            style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;"><span class="Apple-tab-span" style="white-space:pre;">	</span></span>
        </p>
        <br>
        <br>
        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">How can I renew this document?</span>
        </p>
        <br>
        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">You can renew this document by coming back and spending a few minutes filling up our world-class forms.</span>
        </p>
        <br>
        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">Alternatively, since we will be providing you with a soft copy of the document, you can also make any changes / modifications which you feel are required in the document</span>
        </p>
        <br>
        <br>
        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">Can you refer a lawyer to help us with the document?</span>
        </p>
        <br>
        <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">Yes, we can definitely refer a lawyer to help you with the document. You can reach out to our team at </span>
            <a
            href="mailto:makeadoc@vakilsearch.com" style="text-decoration:none;"><span style="font-size:13px;font-family:Arial;color:#0000ff;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;white-space:pre-wrap;">makeadoc@vakilsearch.com</span>
                </a><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;"> for more information, or to request the assistance of a lawyer. </span>
        </p>
        <br>
        <p dir="ltr" style="line-height:1.3800000000000001;margin-top:0pt;margin-bottom:10pt;"><span style="font-size:13px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre-wrap;">Please note that vakilsearch does not employ lawyers and all lawyers engaged are consultants in their own capacity. vakilsearch refers lawyers based on educational qualifications and the past experience. </span>
        </p>
        </b>
        <br>
</p>
</div>
        
<ng-include src="'templates/footer.html'"></ng-include>