<ng-include src="'templates/header.html'"></ng-include>

	<div id="checkout" class="container" style="margin:0px;width:100%;  padding:0px;">
    	<div class="row" style="margin:0px 2.5%; padding:0px; width:95%">
        	<!-- List Steps -->
            <div class="col" style="width:25%; float:left; background-color:black; min-height:800px;">
                <tour-steps></tour-steps>
            </div>
            <div class="col" style="width:75%; float:left;padding:20px; background-color:#dddcdc;">
              <div style=" background-color:#fff; padding:20px;" compile-html="dataService.template.html" watch-html="dataService.template.compiledHtml" id="formHTML">                
              </div>
            </div>
        </div>
    </div>

<ng-include src="'templates/footer.html'"></ng-include>
