<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header visible-xs">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="" class="img-responsive" src="imgs/logo.png" />
</a>      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="row">
            <div class="col-sm-2 hidden-xs">
              <div class="logo">
                <a class="navbar-brand" href="/">
                  <img width="138" height="38" alt="" class="img-responsive" src="imgs/logo.png" />
</a>              </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-9 pull-left">
              <ul class="nav navbar-nav navbar-right">
                <li class="menu-special"><a href="#">About</a></li>
                <li class="menu-special"><a href="#">Products</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Carousel -->
        <div class="wrapper">
            <div class="col-md-5 col-sm-3"></div>
            <div class="col-md-7">
            	<h1 id="text">Watertight legal documents, <br/><span class="textBold">in seconds.</span></h1>
                <a class="btn btn-yellow" href='/#/product'>Create your Document</a>
                <div class="wrapper-Bg"></div>
            </div>
         </div>
        
        <div class="container">
        	<!-- Marketing Icons Section -->
        <div class="row right-vector-img">
            <div class="col-lg-12">
                <h1 class="page-header letter-spacing">
                    Simple 3 step process
                </h1>
            </div>
            <div class="col-md-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="glyphicon glyphicon-folder-open icon-page-content" aria-hidden="true"></i>
                        <h4 class="text-uppercase">Choose document</h4>
                    </div>
                    <div class="panel-body">
                        <p>Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum</p>
                        <a class="btn btn-default create-button-yellow" href='/#/product'><strong>Create</strong></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="glyphicon1 icon-file-text2 icon-page-content"></i>
                        <h4 class="text-uppercase">Prepare your agreement</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a class="btn btn-default create-button-yellow" href='/#/product'><strong>Create</strong></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="glyphicon1 icon-pencil icon-page-content"></i>
                        <h4 class="text-uppercase">Sign & Share</h4>
                    </div>
                    <div class="panel-body">
                        <p>Tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a class="btn btn-default create-button-yellow" href='/#/product'><strong>Create</strong></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        </div>
        
        <section id="clientArea">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-2 col-sm-4">
                    	<a href="#"><img src="imgs/logo01.png" class="img-responsive img-centered" alt=""></a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                    	<a href="#"><img src="imgs/logo02.png" class="img-responsive img-centered" alt=""></a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                    	<a href="#"><img src="imgs/logo03.png" class="img-responsive img-centered" alt=""></a>
                    </div>
                    <div class="col-md-4 col-sm-2">
                        <p class="h3 margin-zero"><strong>Create your document now!</strong></p>
                    </div>
                    <div class="col-md-2 col-sm-1">
                    	<a class="btn btn-default create-button-yellow" href='/#/product'>Start Now!</a>
                    </div>
                    <div
                </div>
                
            </div>
        </section>
        
        <section id="footer">
        	<div class="container">
            	<div class="row text-center">
                	<div class="col-lg-12">
                        <ul class="list-inline text-uppercase">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Terms of Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12">
                    	<p>2014 © make a doc.</p>
                    </div>
                </div>
            </div>
        </section>