<style type="text/css">
  *{ 
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
</style>
<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header visible-xs">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img class="logoImage" alt="" class="img-responsive" src="imgs/logo.png" />
</a>      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="row">
            <div class="col-sm-2 hidden-xs">
              <div class="logo">
                <a class="navbar-brand" href="/">
                  <img width="138" height="38" alt="" class="img-responsive" src="imgs/logo.png" />
</a>              </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-9 pull-left">
              <ul class="nav navbar-nav navbar-right">
                <li class="menu-special"><a href="#">About</a></li>
                <li class="menu-special"><a href="#">Products</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

	<section id="products">
    	<div class="container">
          <div class="row">
              <a href="#" class="btn btn-default btn-black"><div class="col-xs-4 col-md-8 col-sm-12 text-left icon-non-disclosure">&nbsp;&nbsp;Non-Disclosure Agreement</div></a>
                <a href="#" class="btn btn-default btn-black"><div class="col-xs-4 col-md-8 col-sm-12 text-left icon-employment">&nbsp;&nbsp;Employment Agreement</div></a>
                <a href="#" class="btn btn-default btn-black"><div class="col-xs-4 col-md-8 col-sm-12 text-left icon-partnership">&nbsp;&nbsp;Partnership Agreement</div></a>
                <a href="#" class="btn btn-default btn-black"><div class="col-xs-4 col-md-8 col-sm-12 text-left icon-buy-sell">&nbsp;&nbsp;Buy / Sell Agreement</div></a>
                <a href="#" class="btn btn-default btn-black"><div class="col-xs-4 col-md-8 col-sm-12 text-left icon-MoU">&nbsp;&nbsp;Memorandum of Understanding</div></a>
                <a href="#" class="btn btn-default btn-black"><div class="col-xs-4 col-md-8 col-sm-12 text-left icon-make-a-will">&nbsp;&nbsp;Make a Will</div></a>
                <a href="#" class="btn btn-default btn-black"><div class="col-xs-4 col-md-8 col-sm-12 text-left icon-rent-lease">&nbsp;&nbsp;Rent / Lease Agreement</div></a>
                <a href="#" class="btn btn-default btn-black"><div class="col-xs-4 col-md-8 col-sm-12 text-left icon-loan-borrow">&nbsp;&nbsp;Loan / Borrow Money</div></a>
                <a href="#" class="btn btn-default btn-black"><div class="col-xs-4 col-md-8 col-sm-12 text-left icon-power-of">&nbsp;&nbsp;Power of Attorney</div></a>
            </div>
        </div>
    </section>

    <!-- <section id="products">
      <div class="container">
        <div class="row">
          <list-templates></list-templates>
        </div>
      </div>
    </section> -->


    <section id="footer">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="list-inline text-uppercase">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Terms of Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <p>2014 © make a doc.</p>
                </div>
            </div>
        </div>
    </section>
